<style>

  h1 {
    text-align: center;
    color: red;
    text-shadow: 3px 2px grey;
    font-size: 50px;
  }

  h2 {
    text-align: center;
    color: blue;
    font-size: 35px;
  }

  body {
    margin: 10px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .center {
    text-align: center;
  }

  .message_box {
    border-radius: 5px;
    border-style: outset;
    width: 70%;
    position: relative;
    margin-left: 15%
  }

  .p1_box {
    border-radius: 5px;
    border-style: outset;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 67%;
  }

  .p2_box {
    border-radius: 5px;
    border-style: outset;
    width: 30%;
    padding: 20px;
  }

</style>

<html>
  <body>

    <h1> MATCH </h1>
    <br/>

    <div class="message_box">
      <p id="battle_message_text"><%= @battle_message %></p>
        <% unless @battle_message == "FIGHT" || @battle_message.include?("your turn!") %>
          <form action="/battle">
            <input type="submit" id="msg_continue" value="OK">
            <% @battle_message = "#{@command.player1.name}, your turn!" %>
          </form>
        <% end %>
    </div>
    <br />

    <div class="p1_box">
      <% if @command.turn == @command.player1 %>
        <img class="icon" id="p1_turn" src="https://image.ibb.co/d3mKA7/ffvii_buster_sword.png">
      <% end %>

      <p id="p1_avatar"><%= @command.player1.name %>: <%= @command.player1.curr_hp %>/<%= @command.player1.max_hp %></p>

        <form action="/p1_attack">
          <input type="submit" id="p1_atk" value="Attack">
          <input type="submit" id="defend" value="Defend">
        </form>

        <form action="/p1_magic">
          <input type="submit" id="p1_mag_scan" value="Scan">
        </form>

    </div>
    <br />

    <div class="p2_box">
      <% if @command.turn == @command.player2 %>
        <img class="icon" id="p2_turn" src="https://image.ibb.co/nQGKA7/ffviii_gunblade.png">
      <% end %>

      <p id="p2_avatar"><%= @command.player2.name %>: <%= @command.player2.curr_hp %>/<%= @command.player2.max_hp %></p>

        <form action="/p2_attack">
          <input type="submit" id="p2_atk" value="Attack">
        </form>

        <form action="/p2_magic">
          <input type="submit" id="p2_mag_scan" value="Scan">
          <input type="submit" id="blk_mag" value="Black Magic">
        </form>
    </div>

  </body>
</html>

<script>
function magicScan() {
  document.getElementById("battle_message_text").innerHTML = "<%= @command.player2.name %> HP: <%= @command.player2.curr_hp %> / <%= @command.player2.max_hp %>";
}

function atk() {
  return Math.floor(Math.random() * 20)
}
</script>
