<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Nova+Slim|Bilbo+Swash+Caps|Gurajada|Exo:400i" rel="stylesheet">
</head>

<body id="batt_screen">
  <h1 class="title">Heavenly  Strike</h1>

    <div class="message_box">
      <table style="width:100%">
        <tr>
          <td class="lr_padding">
            <% if @game.player2.name == "Computer" && @game.turn.name == "Computer"%>
              <p id="battle_message_text"><%= "COMP: #{@battle_message}" %></p>
            <% else %>
              <p id="battle_message_text"><%= @battle_message %></p>
            <% end %>
          </td>
          <td class="right_align lr_padding">
            <% unless @battle_message == "FIGHT!" || @battle_message.include?("turn") || @battle_message.include?("Targetting") %>
              <form action="/finish_turn">
                <input type="submit" id="message_ok" value="OK" autofocus>
              </form>
            <% end %>
          </td>
        </tr>
      </table>

    </div>

    <div class="game_space">
        <img class="img_center" id="p1_avatar" src = 'https://image.ibb.co/mz5hyS/FFXIV_Black_Mage.png'>
        <img class="img_center" src = 'https://image.ibb.co/kZcvJS/Dragoon_Artwork_XIV.png'>
    </div>

    <div class="container">
      <div class="p1_box">
        <table>
          <tr>
            <th class="icon_spacing">
              <% if @game.turn == @game.player1 %>
                <img class="icon" id="p1_turn" src="https://image.ibb.co/d3mKA7/ffvii_buster_sword.png">
              <% else %>
                <div class="loader"></div>
              <% end %>
            </td>
            <th class="lr_spacing">
              <p><%= @game.player1.name %></p>
            </td>
            <th class="lr_spacing">
              <p><%= @game.player1.curr_hp %>/<%= @game.player1.max_hp %></p>
            </td>
          </tr>
        </table>

        <% if @game.turn == @game.player1 %>
          <table>
            <tr>
              <td>
                <form action="/target_self">
                  <button class="btn blue batt_btn" id="p1_tgt_self">Target Self</button>
                </form>
              </td>
              <td>
                <form action="/target_opponent">
                  <button class="btn blue batt_btn" id="p1_tgt_opp">Target Opponent</button>
                </form>
              </td>
            </tr>

            <tr>
              <td>
                <form action="/phys_attack">
                  <button class="btn red batt_btn" id="p1_atk" autofocus>Attack</button>
                </form>
              </td>
              <td>
                <form action="/defend_self">
                  <button class="btn red batt_btn" id="p1_def">Defend</button>
                </form>
              </td>
            </tr>

            <tr>
              <td>
                <form action="/use_special_buff">
                  <button class="btn green batt_btn" id="p1_wmg_scan" name="spc_buff" value="wmg_scan">Scan</button>
                </form>
              </td>
              <td>
                <form action="/use_special_heal">
                  <button class="btn green batt_btn" id="p1_wmg_cure" name="spc_heal" value="wmg_cure">Cure</button>
                </form>
              </td>
            </tr>
            <tr>
              <form action="/use_special_atk">
                <td>
                  <button class="btn purple batt_btn" id="p1_bmg_fire" name="spc_atk" value="bmg_fire">Fire</button>
                </td>
                <td>
                  <button class="btn purple batt_btn" id="p1_bmg_ice" name="spc_atk" value="bmg_ice">Ice</button>
                </td>
              </form>
            </tr>
          </table>
        <% else %>
          <table>
            <tr>
              <td>
                <button class="btn grey batt_btn">Target Self</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Target Opponent</button>
              </td>
            </tr>

            <tr>
              <td>
                <button class="btn grey batt_btn">Attack</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Defend</button>
              </td>
            </tr>

            <tr>
              <td>
                <button class="btn grey batt_btn">Scan</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Heal</button>
              </td>
            </tr>

            <tr>
              <td>
                <button class="btn grey batt_btn">Fire</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Ice</button>
              </td>
            </tr>
          </table>
        <% end %>

      </div>
      <br />

      <div class="p2_box">
        <table>
          <tr>
            <th class="icon_spacing">
              <% if @game.turn == @game.player2 %>
                <img class="icon" id="p2_turn" src="https://image.ibb.co/nQGKA7/ffviii_gunblade.png">
              <% else %>
                <div class="loader"></div>
              <% end %>
            </td>
            <th class="lr_spacing">
              <p><%= @game.player2.name %></p>
            </td>
            <th class="lr_spacing">
              <p><%= @game.player2.curr_hp %>/<%= @game.player2.max_hp %></p>
            </td>
          </tr>
        </table>

        <% if @game.turn == @game.player2 %>
          <table>
            <tr>
              <td>
                <form action="/target_self">
                  <button class="btn blue batt_btn" id="p2_tgt_self">Target Self</button>
                </form>
              </td>
              <td>
                <form action="/target_opponent">
                  <button class="btn blue batt_btn" id="p2_tgt_opp">Target Opponent</button>
                </form>
              </td>
            </tr>

            <tr>
              <td>
                <form action="/phys_attack">
                  <button class="btn red batt_btn" id="p2_atk" autofocus>Attack</button>
                </form>
              </td>
              <td>
                <form action="/defend_self">
                  <button class="btn red batt_btn" id="p2_def">Defend</button>
                </form>
              </td>
            </tr>

            <tr>
              <td>
                <form action="/use_special_buff">
                  <button class="btn green batt_btn" id="p2_wmg_scan" name="spc_buff" value="wmg_scan">Scan</button>
                </form>
              </td>
              <td>
                <form action="/use_special_heal">
                  <button class="btn green batt_btn" id="p2_teq_recov" name="spc_heal" value="teq_recov">Recover</button>
                </form>
              </td>
            </tr>
            <tr>
              <form action="/use_special_atk">
                <td>
                  <button class="btn purple batt_btn" id="p2_teq_tr_thr" name="spc_atk" value="teq_tr_thr">True Thrust</button>
                </td>
                <td>
                    <button class="btn purple batt_btn" id="p2_teq_jump" name="spc_atk" value="teq_jump">Jump</button>
                </td>
              </form>
            </tr>
          </table>
        <% else %>
          <table>
            <tr>
              <td>
                <button class="btn grey batt_btn">Target Self</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Target Opponent</button>
              </td>
            </tr>

            <tr>
              <td>
                <button class="btn grey batt_btn">Attack</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Defend</button>
              </td>
            </tr>

            <tr>
              <td>
                <button class="btn grey batt_btn">Scan</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Recover</button>
              </td>
            </tr>

            <tr>
              <td>
                <button class="btn grey batt_btn">True Thrust</button>
              </td>
              <td>
                <button class="btn grey batt_btn">Jump</button>
              </td>
            </tr>
          </table>
        <% end %>

      </div>
    </div>

    <object data="https://play.google.com/music/m/Tfqbn34xbp6tyaqhdzqqphkrjou?t=Dont_be_Afraid_Final_Fantasy_VIII_-_Nobuo_Uematsu">
      <param name="autoplay" value="true">
    </object>
  </body>

</html>
