<% if @msg_type == :p1_attack %>
  <%= @command.player1.name %> attacked <%= @command.player2.name %>
  <form action="/calc_damage" method="post">
    <input type="submit" value="Continue">
  </form>
<% end %>

<% if @msg_type == :change_turn %>
  <%= if @command.turn == @command.player2 %>
    <%= @command.player1.name %>, your turn! %>
    <form action="/battle" method="post">
      <input type="submit" value="Continue">
    </form>
  <% end %>

  <%= if @command.turn == @command.player1 %>
    <%= @command.player2.name %>, your turn! %>
    <form action="/battle" method="post">
      <input type="submit" value="Continue">
    </form>
  <% end %>
<% end %>
